.announcement-banner {
  background-color: $color__almost-black;
  color: $color__white;
  padding: calc($spacer__unit / 2) 0 0;

  &__container {
      background-color: $color__black;
      padding: 0.75rem 2rem;
  }

  &__notice {
    padding: 0.3em 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    text-align: left;

    @media (min-width: $grid__breakpoint-large) {
       text-align: center;
    }

    a {
      background-color: $color__white;
      padding: 0.5rem 1rem;
      color: $color__black;
      display: inline-block;
      font-weight: bold;
      text-decoration: none;
      font-size: 1.1rem;
      font-family: "Roboto", sans-serif;

      &:focus {
        outline: 0.3rem solid $color__yellow;
        background-color: $color__black;
        color: $color__white;
      }

      &:hover {
        background-color: $color__black;
        color: $color__white;
      }
    }
  }

  &__phase {
    background-color: $color__white;
    color: $color__black;
    text-transform: uppercase;
    padding: 0 calc($spacer__unit / 4);
    margin-right: $spacer__unit;
    font-weight: 700;
  }

  &__message {
    margin: 0;
    display: block;
    margin-bottom: 1rem;
    line-height: 1.8rem;
  }
}
