.recent-judgments {

  &__container {
    @include container;
    padding-top: calc($spacer__unit * 4);
    padding-right: 0;
    padding-left: 0;
    padding-bottom: $spacer__unit;
  }

  &__header {
    @include heading_text;
    font-size: 1.8rem;
  }

  &__more-info {
      margin: calc($spacer__unit * 2) 0;
  }
}
