.result-controls {
  text-align: left;
  display: inline-block;
  margin: $spacer__unit 0 0;

  @media (min-width: $grid__breakpoint-extra-large) {
    text-align: right;
    margin: 0;
  }


  &__order-by-label {
    font-family: $font__roboto;
    font-size: 1rem;
    margin-bottom: $spacer__unit / 2;
    display: block;
  }

  &__order-by {
    @include select;
    min-width: auto;
    display: inline-block;
  }

  &__button {
    z-index: 999;
    color: $color__white;
    font-weight: normal;
    background-color: $color__black;
    outline-color: $color__dark-blue;
    border: 0;
    padding: 0.625rem;
    text-decoration: none;
    vertical-align: 1px;
    display: inline-block;
  }
}
