.judgment-browse-by-court {

  &__container {
    @include container
  }

  &__list {
    padding: 0;
    list-style-type: none;

    @media (min-width: $grid__breakpoint-medium) {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    @media (min-width: $grid__breakpoint-large) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: $grid__breakpoint-extra-large) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__court {
    padding: $spacer__unit;
    border: 1px solid $color__grey;
    text-align: center;

    @media (max-width: $grid__breakpoint-medium) {
      margin-bottom: $spacer__unit;
    }
  }

  &__court-name {
    display: block;
    font-weight: bold;
    margin-bottom: calc($spacer__unit / 3);
  }


}