.judgment-browse-by-court {

  &__container {
    @include container
  }

  &__list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__court {
    flex-basis: 45%;
    padding: $spacer__unit;
    border: 1px solid $color__grey;
    text-align: center;
    margin-bottom: $spacer__unit;
  }

  &__court-name {
    display: block;
    font-weight: bold;
    margin-bottom: calc($spacer__unit / 3);
  }


}