.page-header {
  background-color: $color__almost-black;
  padding: $spacer__unit 0;

  &__container {
    @include container;
  }

  &__logo {
    max-width: 70%;
    height: auto;
  }

  &__logo-link {

    &:focus {
      outline: 0;

      img {
        outline: 0.19rem solid $color__white;
        outline-offset: 0.19rem;
      }
    }
  }
}