.page-header {
  background-color: $color__almost-black;
  padding: $spacer__unit 0;

  &__container {
    @include container;
    @media (max-width: $grid__breakpoint-medium) {
      text-align: center;
    }
  }

  &__logo {
    height: auto;
    margin: auto;
    max-width: 80%;
  }

  &__logo-link {

    &:focus {
      outline: 0;

      img {
        outline: 0.19rem solid $color__white;
        outline-offset: 0.19rem;
      }
    }
  }
}