.judgment-toolbar {
  background-color: $color__almost-black;
  color: $color__white;
  padding-top: calc($spacer__unit / 2);

  &__introduction {
    margin: auto;
    padding: 0 calc($spacer__unit / 2);
    margin-bottom: calc($spacer__unit * 2);

    li {
      margin-bottom: calc($spacer__unit / 2);
    }

    @media (min-width: $grid__breakpoint-medium) {
      max-width: 40rem;
    }

    @media (min-width: $grid__breakpoint-medium) {
      max-width: 46rem;
    }
  }

  a {
    @include link-on-dark-bg;
    text-underline-offset: 1px;
  }

  &__download-bar {
    padding: 0 calc($spacer__unit / 2);
    text-align: right;
    background-color: $color__dark-blue;
    border-top: 1px solid $color__grey;

  }

  &__download-list-container {
    margin: auto;

    @media (min-width: $grid__breakpoint-medium) {
      max-width: 40rem;
    }

    @media (min-width: $grid__breakpoint-medium) {
      max-width: 46rem;
    }
  }

  &__download-list {
    display: inline-block;
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
    }

    a {
      @include link-on-dark-bg;
      background-image: url($fa_download);
      background-repeat: no-repeat;
      background-size: .8rem;
      background-position: calc($spacer__unit / 2) calc($spacer__unit / 3);
      padding: calc($spacer__unit * .3);
      padding-left: calc($spacer__unit * 1.8);
    }
  }
}