@mixin three-columns($unit) {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr;
  gap: 6px 6px;

  div {
    padding: calc($unit / 4);

    &:first-child {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }

    &:nth-child(2) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      text-align: center;
    }
  }

  h3 {
    font-size: 1rem;
    margin: 0;
    text-decoration: underline;
  }
}

@mixin sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@mixin container {
  width: 77.5rem;
  padding: 0 $spacer__unit;
  max-width: 100%;
  margin: auto;
}

@mixin focus-default {
  outline: 5px solid $color__focus-blue-outline;
  outline-offset: 0;
  z-index: 999;
}

@mixin link-on-dark-bg {
  color: $color__white;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: $color__white;
  }

  &:active {
    color: $color__white;
  }

  &:focus {
    @include focus-default;
    outline-color: $color__white;
  }
}