.recent-judgments {

  &__container {
    @include container
  }

  &__list {
    border: 2px solid $color__grey;
    padding: $spacer__unit;
    list-style-type: none;
  }

  &__judgment {

    padding: $spacer__unit;
    border-bottom: 2px dashed $color__grey;

    @media (min-width: $grid__breakpoint-medium) {
      display: flex;
      justify-content: space-between;
    }

    > span {

      @media (min-width: $grid__breakpoint-medium) {
        flex-basis: 50%;
      }

      > span {
        padding: calc($spacer__unit / 4);
      }
    }
  }

  &__title {
    display: block;
    font-weight: bold;
  }

  &__date {
    display: block;

    @media (max-width: $grid__breakpoint-medium) {
      margin-top: $spacer__unit;
    }

    @media (min-width: $grid__breakpoint-medium) {
      text-align: right;
    }
  }

  &__court {
    display: block;
    @media (min-width: $grid__breakpoint-medium) {
      text-align: right;
    }

    @media (max-width: $grid__breakpoint-medium) {
      margin-top: 0;
    }
  }
}