.results {
  min-height: 60rem;

  h1 {
    @include sr-only
  }

  &__container {
    @include container;
  }

  &__result-header {
    @media (min-width: $grid__breakpoint-large) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__result-list-container {
    background-color: #fff;

    h2 {
      @include sr-only;
    }
  }

  &__results-intro {
    font-family: $font__roboto;
    font-size: 1.8rem;
    margin: calc($spacer__unit / 2) 0 0 0;
  }

  &__title-and-date {
    display: flex;
    justify-content: space-between;
  }

  &__result-title {
    flex-basis: 70%;

    @media (min-width: $grid__breakpoint-medium) {
      flex-basis: 75%;
    }

    @media (min-width: $grid__breakpoint-large) {
      flex-basis: 80%;
    }
  }

  &__result-date {
    text-align: right;
    font-size: 90%;
    color: $color__dark-grey;
  }

  &__filter-heading {
    @include sr-only;
  }

  &__results-list {
    padding: 0;
    list-style-type: none;

    li {
      padding: calc($spacer__unit * 2) 0 calc($spacer__unit * 2) 0;
      border-bottom: 0.125rem solid $color__grey;
    }
  }

  &__result-title {
    font-size: 1.5rem;
    font-family: $font__roboto;
  }

  &__result-term-sr {
    @include sr-only;
  }

  &__result-neutral-citation {
    margin-top: calc($spacer__unit / 2);
  }

  &__result-terms {
    margin: 0;
  }

  dd {
    margin-left: 0;
  }

  mark {
    background-color: lighten($color__yellow, 18);
  }

  &__result-term-matching {
    margin: $spacer__unit 0 calc($spacer__unit / 2) 0;
    color: $color__dark-grey;
    font-size: small;
  }

  fieldset {
    border: none;
    padding: 0;
  }

  legend {
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__container-extend-search-option {
    background-color: $color__light-grey;
    padding: $spacer__unit calc($spacer__unit * 2);
    margin: $spacer__unit 0;
  }
}