.result-controls {

  @media (min-width: $grid__breakpoint-large) {
    text-align: right;
  }

  &__order-by-label {
    font-family: $font__roboto;
    margin-bottom: $spacer__unit;
    margin-right: $spacer__unit;
  }

  &__order-by {
    @include select;
    width: auto;
  }
}
