.results {
  &__container {
    @include container
  }

  &__full-text-panel {
    @include emphasised-block;
    margin-top: $spacer__unit;
    margin-bottom: $spacer__unit;
    @media (min-width: $grid__breakpoint-medium) {
      padding: calc($spacer__unit * 1.5) calc($spacer__unit * 2);
    }
  }

  &__full-text-label {
    @include sr-only;
  }

  &__full-text-input {
    @include text_field;
    width: 20rem;

    @media (min-width: $grid__breakpoint-medium) {
      width: 27rem;
    }

    @media (min-width: $grid__breakpoint-extra-large) {
      width: 35rem;
    }
  }

  &__facet-container {

    @media (min-width: $grid__breakpoint-medium) {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    @media (min-width: $grid__breakpoint-extra-large) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__multi-fields-panel {
    padding-top: $spacer__unit;
    margin-top: $spacer__unit;
    margin-bottom: $spacer__unit;
  }

  &__name-label {
    font-weight: bold;
    display: block;
  }

  &__name-input {
    @include text_field;
    width: 18rem;
  }

  &__limit-to-label {
    font-weight: bold;
    display: block;
    margin-bottom: calc($spacer__unit / 2);
  }

  &__limit-to-input {
    @include text_field;
  }

  &__select {
    @include select;
  }

  &__date-input {
    @include text_field;
    margin-top: 0;
    padding: 0.375rem;
  }

  &__submit-button {
    @include call-to-action-button;
    margin-top: 0;
  }

  &__name-container {
    @include emphasised-block;
    border-left-width: 0.375rem;
    background-color: $color__white;
    padding: 0 $spacer__unit;
    margin-bottom: $spacer__unit;
  }

  &__limit-to-container {
    @include emphasised-block;
    border-left-width: 0.375rem;
    background-color: $color__white;
    padding: 0 $spacer__unit;
    margin-bottom: $spacer__unit;
  }

  &__control-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: calc($spacer__unit * 2);
    margin-bottom: calc($spacer__unit * 2);
    border-bottom: 0.125rem dashed $color__dark-grey;
  }

  &__toggle-control {
    border: none;
    background-color: transparent;
    font-size: 1rem;

    &:focus {
      @include focus-default;
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__list-layout-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
  }

  &__result-controls-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  &__result-list-container {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: #fff;

    h2 {
      @include sr-only;
    }
  }

  &__results-intro {
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0;
  }

  &__filter-heading {
    @include sr-only;
  }

  &__results-list {
    padding: 0;
    list-style-type: none;

    li {
      padding: $spacer__unit;
      padding-left: 0;
      border-bottom: 1px dotted $color__grey;
    }
  }

  &__result-title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__result-term-sr {
    @include sr-only
  }

  &__result-neutral-citation {
    margin-top: calc($spacer__unit / 2);
  }

  &__result-terms {
    margin: 0;
  }

  dd {
    margin-left: 0;
  }

  &__result-term-matching {
    margin: $spacer__unit 0 calc($spacer__unit / 2) 0;
    color: $color__dark-grey;
    font-size: small;
  }

  fieldset {
    border: none;
    padding: 0;
    margin-top: $spacer__unit;
  }

  legend {
    font-weight: bold;
    font-size: 1.2rem;
  }
}