$spacer__unit: 1rem;

$color__almost-black: #26262a;
$color__light-pink: #fbe2bc;
$color__white: #fff;
$color__light-grey: #efefef;
$color__dark-blue: #134571;
$color__grey: #ddd;
$color__dark-grey: #bbb;
$color__black: #000;

$color__link-blue: #1d70b8;
$color__link-blue-hover: #003078;
$color__link-blue-visited: #4c2c92;
$color__link-blue-active: #1e1e2a;

$color__focus-blue-outline: #1d70b8;

$grid__breakpoint-small: 576px;
$grid__breakpoint-medium: 768px;
$grid__breakpoint-large: 992px;
$grid__breakpoint-extra-large: 1200px;

$font__open-sans: 'Open Sans', sans-serif;