$spacer__unit: 1rem;

$color__almost-black: #26262a;
$color__light-pink: #fbe2bc;
$color__white: #fff;
$color__black: #000;

$color__link-blue: #1d70b8;
$color__link-blue-hover: #003078;
$color__link-blue-visited: #4c2c92;
$color__link-blue-active: #1e1e2a;

$color__focus-blue-outline: #1d70b8;

$font__open-sans: 'Open Sans', sans-serif;