<div class="search-component">
    <div class="search-component__container">
        <div class="search-component__emphasised-container">
            <h2>Search by keyword or neutral citation</h2>
            <p>Explainer of how to search court judgments</p>
            <form action="{{ url_for('results') }}" role="search" aria-label="Search by keyword or neutral citation">
                <label for="full_text" class="search-component__search-term-label">Search term</label>
                <input type="text" name="full_text" id="full_text" class="search-component__search-term-input">
                <div>
                    <input type="checkbox" name="neutral_citation" id="neutral_citation">
                    <label for="neutral_citation">I'm using a neutral citation<span>, e.g. EWCA Civ 2781</span></label>
                </div>
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="search-component__more-options">
            <a href="{{ url_for('structured_search') }}">More search options</a>
        </div>
    </div>
</div>
