{% block content %}
    <div class="judgment-browse-by-court">
        <div class="judgment-browse-by-court__container">
            <h2 id="browse-by-court" class="judgment-browse-by-court__header">Find judgments by court</h2>
            <ul class="judgment-browse-by-court__list">

                <li class="judgment-browse-by-court__court">
            <span class="judgment-browse-by-court__court-name">
                <a class="judgment-browse-by-court__court-link" href="/judgments/advanced_search?court=uksc">
                  United Kingdom Supreme Court
                </a>
            </span>
                    <span class="judgment-browse-by-court__years">
              (2021-2021)
            </span>
                </li>

                <li class="judgment-browse-by-court__court">
            <span class="judgment-browse-by-court__court-name">
                <a class="judgment-browse-by-court__court-link" href="/judgments/advanced_search?court=ukpc">
                  Privy Council
                </a>
            </span>
                    <span class="judgment-browse-by-court__years">
              (2021-2021)
            </span>
                </li>

                <li class="judgment-browse-by-court__court">
            <span class="judgment-browse-by-court__court-name">
                <a class="judgment-browse-by-court__court-link" href="/judgments/advanced_search?court=ewca/civ">
                  Court of Appeal Civil Division
                </a>
            </span>
                    <span class="judgment-browse-by-court__years">
              (2003-2021)
            </span>
                </li>

                <li class="judgment-browse-by-court__court">
            <span class="judgment-browse-by-court__court-name">
                <a class="judgment-browse-by-court__court-link" href="/judgments/advanced_search?court=ewca/crim">
                  Court of Appeal Criminal Division
                </a>
            </span>
                    <span class="judgment-browse-by-court__years">
              (2003-2021)
            </span>
                </li>

                <li class="judgment-browse-by-court__court">
            <span class="judgment-browse-by-court__court-name">
                <a class="judgment-browse-by-court__court-link" href="/judgments/advanced_search?court=ewhc/admin">
                  Administrative Court
                </a>
            </span>
                    <span class="judgment-browse-by-court__years">
              (2003-2021)
            </span>
                </li>

                <li class="judgment-browse-by-court__court">
            <span class="judgment-browse-by-court__court-name">
                <a class="judgment-browse-by-court__court-link" href="/judgments/advanced_search?court=ewhc/admlty">
                  Admiralty Court
                </a>
            </span>
                    <span class="judgment-browse-by-court__years">
              (2003-2021)
            </span>
                </li>

                <li class="judgment-browse-by-court__court">
            <span class="judgment-browse-by-court__court-name">
                <a class="judgment-browse-by-court__court-link" href="/judgments/advanced_search?court=ewhc/ch">
                  Chancery Division of the High Court
                </a>
            </span>
                    <span class="judgment-browse-by-court__years">
              (2003-2021)
            </span>
                </li>

                <li class="judgment-browse-by-court__court">
            <span class="judgment-browse-by-court__court-name">
                <a class="judgment-browse-by-court__court-link" href="/judgments/advanced_search?court=ewhc/comm">
                  Commercial Court
                </a>
            </span>
                    <span class="judgment-browse-by-court__years">
              (2003-2021)
            </span>
                </li>

                <li class="judgment-browse-by-court__court">
            <span class="judgment-browse-by-court__court-name">
                <a class="judgment-browse-by-court__court-link" href="/judgments/advanced_search?court=ewhc/costs">
                  Senior Court Costs Office
                </a>
            </span>
                    <span class="judgment-browse-by-court__years">
              (2003-2021)
            </span>
                </li>

                <li class="judgment-browse-by-court__court">
            <span class="judgment-browse-by-court__court-name">
                <a class="judgment-browse-by-court__court-link" href="/judgments/advanced_search?court=ewhc/fam">
                  Family Division of the High Court
                </a>
            </span>
                    <span class="judgment-browse-by-court__years">
              (2003-2021)
            </span>
                </li>

                <li class="judgment-browse-by-court__court">
            <span class="judgment-browse-by-court__court-name">
                <a class="judgment-browse-by-court__court-link" href="/judgments/advanced_search?court=ewhc/ipec">
                  Intellectual Property Enterprise Court
                </a>
            </span>
                    <span class="judgment-browse-by-court__years">
              (2013-2021)
            </span>
                </li>

                <li class="judgment-browse-by-court__court">
            <span class="judgment-browse-by-court__court-name">
                <a class="judgment-browse-by-court__court-link" href="/judgments/advanced_search?court=ewhc/mercantile">
                  Mercantile Court
                </a>
            </span>
                    <span class="judgment-browse-by-court__years">
              (2008-2015)
            </span>
                </li>

                <li class="judgment-browse-by-court__court">
            <span class="judgment-browse-by-court__court-name">
                <a class="judgment-browse-by-court__court-link" href="/judgments/advanced_search?court=ewhc/pat">
                  Patents Court
                </a>
            </span>
                    <span class="judgment-browse-by-court__years">
              (2003-2021)
            </span>
                </li>

                <li class="judgment-browse-by-court__court">
            <span class="judgment-browse-by-court__court-name">
                <a class="judgment-browse-by-court__court-link" href="/judgments/advanced_search?court=ewhc/qb">
                  Queen's Bench Division of the High Court
                </a>
            </span>
                    <span class="judgment-browse-by-court__years">
              (2003-2021)
            </span>
                </li>

                <li class="judgment-browse-by-court__court">
            <span class="judgment-browse-by-court__court-name">
                <a class="judgment-browse-by-court__court-link" href="/judgments/advanced_search?court=ewhc/tcc">
                  Technology and Construction Court
                </a>
            </span>
                    <span class="judgment-browse-by-court__years">
              (2003-2021)
            </span>
                </li>

                <li class="judgment-browse-by-court__court">
            <span class="judgment-browse-by-court__court-name">
                <a class="judgment-browse-by-court__court-link" href="/judgments/advanced_search?court=ewcop">
                  Court of Protection
                </a>
            </span>
                    <span class="judgment-browse-by-court__years">
              (2009-2021)
            </span>
                </li>

                <li class="judgment-browse-by-court__court">
            <span class="judgment-browse-by-court__court-name">
                <a class="judgment-browse-by-court__court-link" href="/judgments/advanced_search?court=ewfc">
                  Family Court
                </a>
            </span>
                    <span class="judgment-browse-by-court__years">
              (2014-2021)
            </span>
                </li>

            </ul>
        </div>
    </div>
{% endblock %}
