{% block content %}
    <div class="judgment-browse-by-court">
        <div class="judgment-browse-by-court__container">
            <h2>Browse by court</h2>
            <p>Explainer here</p>

            <ul class="judgment-browse-by-court__list">
                {% for court in courts %}
                    {% if court.years_range_start or court.years_range_end %}
                        <li class="judgment-browse-by-court__court">
                            <span class="judgment-browse-by-court__court-name">{{ court.name }}</span>
                            <span class="judgment-browse-by-court__years">
                                ({{ court.years_range_start }} - {{ court.years_range_end }})
                            </span>
                        </li>
                    {% endif %}
                    {% for subdivision in court.subdivisions %}
                        <li class="judgment-browse-by-court__court">
                            <span class="judgment-browse-by-court__court-name">{{ subdivision.name }}</span>
                            <span class="judgment-browse-by-court__years">
                                ({{ subdivision.years_range_start }}
                                - {{ subdivision.years_range_end }})
                            </span>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
