<div class="collections">
    <h2>Judgments by collection</h2>
    <p>Use these links to see judgments by collection</p>
    <ul>
        {% for court in courts %}
            <li class="collections__collection">
                <a href="{{ url_for('search') }}?collection={{ court.code }}&query=''">
                    <span class="collections__title">
                        {{ court.name }}
                    </span>
                </a>
                {% if court.subdivisions %}
                    <ul>
                        {% for subdivision in court.subdivisions %}
                            <li>
                                <a href="{{ url_for('search') }}?collection={{ subdivision.code }}&query=''">
                                    {{ subdivision.name }}
                                    {% if subdivision.years_range_start or subdivision.years_range_end %}
                                        ({{ subdivision.years_range_start }}
                                        - {{ subdivision.years_range_end }})
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}

    </ul>
</div>
