{% block content %}
    <div class="judgment-browse">
        <h2 class="judgment-browse__header">Find judgments</h2>
        <div class="judgment-browse__by-type">
            <h3 id="browse-by-court" class="judgment-browse__sub-header">By court</h3>
            <ul class="judgment-browse__list">
                {% for court in courts %}
                    <li class="judgment-browse__list-item">
                        <a class="judgment-browse__link" href="/{{ court.code }}">{{ court.name }} {{ court.years }}</a>

                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="judgment-browse__by-type">
            <h3 id="browse-by-tribunal" class="judgment-browse__sub-header">By tribunal</h3>
            <ul class="judgment-browse__list">
                {% for tribunal in tribunals %}
                    <li class="judgment-browse__list-item">
                        <a class="judgment-browse__link" href="/">{{ tribunal.name }}</a>

                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
