<header class="judgment-header">
    <div class="judgment-header__logo">
        <img src="{{ url_for('static', filename='rcj_logo.png') }}" height="99" width="102"
             alt="Royal Courts of Justice">
    </div>

    <div class="judgment-header__neutral-citation">
        Neutral Citation Number: <span>[2021] EWHC 3290 (Admin)</span>
    </div>

    <div class="judgment-header__case-number">
        <h1>Case No: C0/4087/2020 &amp; CO/3046/2021</h1>
    </div>

    <div class="judgment-header__court">
        IN THE HIGH COURT OF JUSTICE <br>
        QUEEN'S BENCH DIVISION <br>
        ADMINISTRATIVE COURT <br>
    </div>

    <address class="judgment-header__address">
        Royal Courts of Justice <br>
        Strand, London, WC2A 2LL
    </address>

    <div class="judgment-header__date">Date:
        <time datetime="2018-12-06">06/12/2021</time>
    </div>

    <div class="judgment-header__before">
        <h2>Before:</h2>
        <p>
            LORD JUSTICE MALES<br>
            <span aria-hidden="true">-</span>and<span aria-hidden="true">-</span><br>
            MR JUSTICE FRASER
        </p>
    </div>
    <div class="judgment-header__line-separator" aria-hidden="true">
        - - - - - - - - - - - - - - - - - - - - -
    </div>

    <div class="judgment-header__between">
        <h2>Between:</h2>
        <div class="judgment-header__party">
            <div><h3>Claimant</h3></div>
            <div class="judgment-header__between__center">
                THE QUEEN<br>
                (on the application of)<br>
                UNITED TRADE ACTION GROUP LIMITED
            </div>
        </div>
        <div class="judgment-header__and-separator">
            <span aria-hidden="true">-</span> and <span aria-hidden="true">-</span>
        </div>
        <div class="judgment-header__party">
            <div><h3>Defendant</h3></div>
            <div class="judgment-header__between__center">
                TRANSPORT FOR LONDON
            </div>
        </div>
        <div class="judgment-header__and-separator">
            <span aria-hidden="true">-</span> and <span aria-hidden="true">-</span>
        </div>
        <div class="judgment-header__party">
            <div><h3>Interested Party</h3></div>
            <div class="judgment-header__between__center">
                TRANSOPCO (UK) LIMITED<br>
                (trading as FREE NOW)
            </div>
            <div></div>
        </div>
        <div class="judgment-header__and-separator--between">
            <span aria-hidden="true">-</span> And between <span aria-hidden="true">-</span>
        </div>
        <div class="judgment-header__party">
            <div><h3>Claimant</h3></div>
            <div class="judgment-header__between__center">
                UBER LONDON LIMITED
            </div>
            <div></div>
        </div>
        <div class="judgment-header__and-separator">
            <span aria-hidden="true">-</span> and <span aria-hidden="true">-</span>
        </div>
        <div class="judgment-header__party">
            <div><h3>Defendants</h3></div>
            <div class="judgment-header__between__center">
                1) TRANSPORT FOR LONDON <br>
                2) UNITED TRADE ACTION GROUP LIMITED <br>
                3) APP DRIVERS AND COURIERS UNION <br>
            </div>
            <div></div>
        </div>
        <div class="judgment-header__and-separator">
            <span aria-hidden="true">-</span> and <span aria-hidden="true">-</span>
        </div>
        <div class="judgment-header__party">
            <div><h3>Intervener</h3></div>
            <div class="judgment-header__between__center">
                TRANSOPCO (UK) LIMITED
                (trading as FREE NOW)
            </div>
            <div></div>
        </div>
    </div>
    <div class="judgment-header__line-separator" aria-hidden="true">
        - - - - - - - - - - - - - - - - - - - - -<br>
        - - - - - - - - - - - - - - - - - - - - -
    </div>
    <div class="judgment-header__queens-counsel">
        <h2 class="sr-only">Queen's Counsel</h2>
        <ul>
            <li><span>David Matthias <abbr title="Queen's Counsel">QC</abbr> and Charles Streeten</span> (instructed by
                <span>Chiltern Law</span>)
                for United Trade Action Group Ltd
            </li>
            <li><span>Jason Galbraith-Marten <abbr title="Queen's Counsel">QC</abbr></span> (instructed by <span>ITN Solicitors</span>)
                for the
                <span>App Drivers and Couriers Union</span>
            </li>
            <li><span>Maya Lester <abbr title="Queen's Counsel">QC</abbr> and Tim Johnston</span> (instructed by <span>Transport for London
                            Legal</span>) for <span>Transport for London</span>
            </li>
            <li><span>Ranjit Bhose <abbr title="Queen's Counsel">QC</abbr> and Josef Cannon</span> (instructed by <span>Hogan Lovells
                            International LLP</span>) for <span>Uber London Ltd</span>
            </li>
            <li><span>Philip Kolvin <abbr title="Queen's Counsel">QC</abbr> and Ronnie Dennis</span> (instructed by
                <span>EMW Law LLP</span>) for
                <span>Free Now</span>
            </li>
        </ul>
    </div>
    <div class="judgment-header__hearing-dates">
        <h2>Hearing dates</h2>
        <p><span aria-hidden="true">Hearing dates: </span>23rd and 24th November 2021</p>
    </div>
    <div class="judgment-header__line-separator" aria-hidden="true">
        - - - - - - - - - - - - - - - - - - - - -
    </div>
    <div class="judgment-header__approved-judgment">
        <h2>Approved Judgment</h2>
        <p>
            Covid-19 Protocol: This judgment was handed down remotely by circulation to the parties' representatives by
            email, release to BAILII and publication on the Courts and Tribunals Judiciary website. The date and time
            for hand-down is deemed to be at 10:30am on 6th December 2021
        </p>
    </div>
</header>