<div class="service-introduction-banner">
    <div class="service-introduction-banner__container">
        <p>The {{ service.name }} service is provided by <a href="https://www.nationalarchives.gov.uk">The National
            Archives</a>. You can: </p>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}#recently-published-judgments">View recently published judgments</a>
                </li>
                <li><a href="{{ url_for('structured_search') }}">Search for a judgment</a></li>
                <li><a href="{{ url_for('home') }}#browse-by-court">Find judgments made by a specific court</a></li>
            </ul>
        </nav>
    </div>
</div>