<div class="header">
    <p class="CoverText">
        <img src="{{ url_for('static', filename='rcj_logo.png') }}" height="99" width="102"
             alt="Royal Courts of Justice">
    </p>
    <p class="CoverText">
        Neutral Citation Number:
        <span class="neutralCitation">[2021] EWHC 3290 (Admin)</span>
    </p>
    <p class="CoverText">
        Case No:
        <span class="docketNumber">C0/4087/2020</span>
        &amp;
        <span class="docketNumber">CO/3046/2021</span>
    </p>
    <p class="CoverMain">
        <span class="courtType">IN THE HIGH COURT OF JUSTICE</span>
    </p>
    <p>
        <span class="courtType">QUEEN'S BENCH DIVISION</span>
    </p>
    <p>
        <span class="courtType">ADMINISTRATIVE COURT</span>
    </p>
    <p class="CoverText">Royal Courts of Justice</p>
    <p class="CoverText">Strand, London, WC2A 2LL</p>
    <p class="CoverText">
        Date:
        <span class="docDate">06/12/2021</span>
    </p>
    <p>
        <span>Before</span>
        :
    </p>
    <p class="CoverMain">
        <span class="judge">LORD JUSTICE MALES</span>
    </p>
    <p class="CoverMain">
        <span>-and-</span>
    </p>
    <p class="CoverMain">
        <span class="judge">MR JUSTICE FRASER</span>
    </p>
    <p>- - - - - - - - - - - - - - - - - - - - -</p>
    <p>
        <span>Between:</span>
    </p>
    <table>
        <tr>
            <td>
                <p></p>
            </td>
            <td>
                <p>
                    <span class="party">THE QUEEN</span>
                </p>
                <p>
                    <span class="party">(on the application of)</span>
                </p>
                <p>
                    <span class="party">UNITED TRADE ACTION GROUP LIMITED</span>
                </p>
            </td>
            <td>
                <p class="CoverMain"></p>
                <p class="CoverMain"></p>
                <p class="CoverMain">
                    <span class="role">Claimant</span>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p></p>
            </td>
            <td>
                <p>
                    <span>- and -</span>
                </p>
            </td>
            <td>
                <p class="CoverMain"></p>
            </td>
        </tr>
        <tr>
            <td>
                <p></p>
            </td>
            <td>
                <p>
                    <span>TRANSPORT FOR LONDON</span>
                </p>
                <p>
                    <span>-and-</span>
                </p>
                <p>
                    <span>TRANSOPCO (UK) LIMITED</span>
                </p>
                <p>
                    <span>(trading as FREE NOW)</span>
                </p>
                <p>
                    <span>-and between-</span>
                </p>
                <p>
                    <span>UBER LONDON LIMITED</span>
                </p>
                <p>
                    <span>-and-</span>
                </p>
                <p>
                    <span>1) TRANSPORT FOR LONDON</span>
                </p>
                <p>
                    <span>2) UNITED TRADE ACTION GROUP LIMITED</span>
                </p>
                <p>
                    <span>3) APP DRIVERS AND COURIERS UNION</span>
                </p>
                <p>
                    <span>-and-</span>
                </p>
                <p>
                    <span>TRANSOPCO (UK) LIMITED</span>
                </p>
                <p>
                    <span>(trading as FREE NOW)</span>
                </p>
            </td>
            <td>
                <p class="CoverMain">Defendant</p>
                <p class="CoverMain">Interested Party</p>
                <p class="CoverMain">Claimant</p>
                <p class="CoverMain">Defendants</p>
                <p class="CoverMain">Intervener</p>
            </td>
        </tr>
    </table>
    <p>- - - - - - - - - - - - - - - - - - - - -</p>
    <p>- - - - - - - - - - - - - - - - - - - - -</p>
    <p>
        <span>David Matthias QC and Charles Streeten </span>
        (instructed by
        <span> Chiltern Law</span>
        ) for
        <span>United Trade Action Group Ltd</span>
    </p>
    <p>
        <span>Jason Galbraith-Marten QC</span>
        (instructed by
        <span>ITN Solicitors</span>
        ) for the
        <span>App Drivers and Couriers Union</span>
    </p>
    <p>
        <span>Maya Lester QC and Tim Johnston</span>
        (instructed by
        <span>Transport for London Legal</span>
        ) for
        <span>Transport for London</span>
    </p>
    <p>
        <span>Ranjit Bhose QC and Josef Cannon</span>
        (instructed by
        <span>Hogan Lovells International LLP</span>
        ) for
        <span>Uber London Ltd</span>
    </p>
    <p>
        <span>Philip Kolvin QC and Ronnie Dennis</span>
        (instructed by
        <span>EMW Law LLP</span>
        ) for
        <span>Free Now</span>
    </p>
    <p>
        Hearing dates: 23
        <span>rd</span>
        and 24
        <span>th</span>
        November 2021
    </p>
    <p>- - - - - - - - - - - - - - - - - - - - -</p>
    <p class="CoverDesc">Approved Judgment</p>
    <p>
        <span>Covid-19 Protocol: This judgment was handed down remotely by circulation to the parties' representatives by email, release to BAILII and publication on the Courts and Tribunals Judiciary website. The date and time for hand-down is deemed to be at 10:30am on 6</span>
        <span>th</span>
        <span> December 2021</span>
    </p>
</div>