<footer>
    <hr>
    <div class="footnote">
        <p class="FootnoteText">
            <span class="marker">1</span>
            <span></span>
            These terms were current at the date when the Free Now licence was renewed. We are told that the
            Users' Terms are updated from time to time, that the current version was valid from 8
            <span>th</span>
            November 2021, and that it contains no equivalent to clause 8.4 of the version current at the
            date of the licence
        </p>
    </div>
</footer>