<div class="judgment-toolbar">
    <div class="judgment-toolbar__container">
        <div class="judgment-toolbar__return-link">
            {% if request.args.origin == 'results' %}
                <a href="{{ request.args.return_link }}">Back to search results</a>
            {% endif %}
        </div>
        <div class="judgment-toolbar__download">
            <a class="judgment-download__option--xml" href="{{ url_for('static', filename='judgment.xml') }}">Download as XML</a>
            <a class="judgment-download__option--pdf" href="{{ url_for('static', filename='judgment.pdf') }}">Download as PDF</a>
        </div>
    </div>
</div>
