<div class="anchor-links">
    <h3 class="anchor-links__header">Information on this page:</h3>
            <ul class="anchor-links__list">
                <li class="anchor-links__list-option"><a href="#section-purpose">Purpose of this licence</a></li>
                <li class="anchor-links__list-option"><a href="#section-information">Using Information under this licence</a></li>
                <li class="anchor-links__list-option"><a href="#section-exclusions">Exclusions</a></li>
                <li class="anchor-links__list-option"><a href="#section-no-warranty">No warranty</a></li>
                <li class="anchor-links__list-option"><a href="#section-governing">Governing Law</a></li>
                <li class="anchor-links__list-option"><a href="#section-definitions">Definitions</a></li>
                <li class="anchor-links__list-option"><a href="#section-about">About the Open Justice Licence</a></li>
            </ul>
    </div>