<div class="recent-judgments">
    <div class="recent-judgments__container">
        <h2 id="recently-published-judgments" class="recent-judgments__header">Recently published judgments</h2>
        <ul class="judgment-listing__list">
            <li class="judgment-listing__judgment">
          <span>
            <span class="judgment-listing__title">
              <a href="/judgment">
                Paul Richards & Anor. v Speechly Bircham LLP & Anor.
              </a>
            </span>
            <span class="judgment-listing__neutralcitation">
              Neutral citation:
              [2022] EWHC 935 (Comm)
            </span>
          </span>
                <span>
            <span class="judgment-listing__date">
              Date: 2022-04-29
            </span>
            <span class="judgment-listing__court">
              Court: EWHC-QBD-Commercial
            </span>
          </span>
            </li>

            <li class="judgment-listing__judgment">
          <span>
            <span class="judgment-listing__title">
              <a href="/judgment">
                LORNA ARMSTEAD v ROYAL SUN ALLIANCE INSURANCE COMPANY LIMITED
              </a>
            </span>
            <span class="judgment-listing__neutralcitation">
              Neutral citation:
              [2022] EWCA Civ 497
            </span>
          </span>
                <span>
            <span class="judgment-listing__date">
              Date: 2022-04-28
            </span>
            <span class="judgment-listing__court">
              Court: EWCA-Civil
            </span>
          </span>
            </li>

            <li class="judgment-listing__judgment">
          <span>
            <span class="judgment-listing__title">
              <a href="/judgment">
                THE CLAIMANTS LISTED IN SCHEDULE 1 TO THE CLAIM FORM v NICHOLAS SPENCE &amp; ORS.
              </a>
            </span>
            <span class="judgment-listing__neutralcitation">
              Neutral citation:
              [2022] EWCA Civ 500
            </span>
          </span>
                <span>
            <span class="judgment-listing__date">
              Date: 2022-04-28
            </span>
            <span class="judgment-listing__court">
              Court: EWCA-Civil
            </span>
          </span>
            </li>

            <li class="judgment-listing__judgment">
          <span>
            <span class="judgment-listing__title">
              <a href="/judgment">
                PENELOPE JAMES (R on the application of) v DOVER DISTRICT COUNCIL
              </a>
            </span>
            <span class="judgment-listing__neutralcitation">
              Neutral citation:
              [2022] EWHC 961 (Admin)
            </span>
          </span>
                <span>
            <span class="judgment-listing__date">
              Date: 2022-04-28
            </span>
            <span class="judgment-listing__court">
              Court: EWHC-QBD-Planning
            </span>
          </span>
            </li>

            <li class="judgment-listing__judgment">
          <span>
            <span class="judgment-listing__title">
              <a href="/judgment">
                PANKIM KUMAR PATEL v MINERVA SERVICES DELAWARE INC &amp; Ors
              </a>
            </span>
            <span class="judgment-listing__neutralcitation">
              Neutral citation:
              [2022] EWHC 970 (Ch)
            </span>
          </span>
                <span>
            <span class="judgment-listing__date">
              Date: 2022-04-28
            </span>
            <span class="judgment-listing__court">
              Court: EWHC-Chancery-Business
            </span>
          </span>
            </li>

            <li class="judgment-listing__judgment">
          <span>
            <span class="judgment-listing__title">
              <a href="/judgment">
                ADVINIA HEALTH CARE LTD (R on the application of) v CARE QUALITY COMMISSION
              </a>
            </span>
            <span class="judgment-listing__neutralcitation">
              Neutral citation:
              [2022] EWHC 965 (Admin)
            </span>
          </span>
                <span>
            <span class="judgment-listing__date">
              Date: 2022-04-27
            </span>
            <span class="judgment-listing__court">
              Court: EWHC-QBD-Admin
            </span>
          </span>
            </li>

            <li class="judgment-listing__judgment">
          <span>
            <span class="judgment-listing__title">
              <a href="/judgment">
                R (on the application of) DR CATHY GARDNER &amp; Anor. v SECRETARY OF STATE FOR HEALTH AND SOCIAL CARE &amp; Ors.
              </a>
            </span>
            <span class="judgment-listing__neutralcitation">
              Neutral citation:
              [2022] EWHC 967 (Admin)
            </span>
          </span>
                <span>
            <span class="judgment-listing__date">
              Date: 2022-04-27
            </span>
            <span class="judgment-listing__court">
              Court: EWHC-QBD-Admin
            </span>
          </span>
            </li>

            <li class="judgment-listing__judgment">
          <span>
            <span class="judgment-listing__title">
              <a href="/judgment">
                R v Minister for the Cabinet Office
              </a>
            </span>
            <span class="judgment-listing__neutralcitation">
              Neutral citation:
              [2022] UKSC 11
            </span>
          </span>
                <span>
            <span class="judgment-listing__date">
              Date: 2022-04-27
            </span>
            <span class="judgment-listing__court">
              Court: UKSC
            </span>
          </span>
            </li>

            <li class="judgment-listing__judgment">
          <span>
            <span class="judgment-listing__title">
              <a href="/judgment">
                IAN THOMAS v LUV ONE LUV ALL PROMOTIONS LIMITED &amp; Anor.
              </a>
            </span>
            <span class="judgment-listing__neutralcitation">
              Neutral citation:
              [2022] EWHC 964 (IPEC)
            </span>
          </span>
                <span>
            <span class="judgment-listing__date">
              Date: 2022-04-27
            </span>
            <span class="judgment-listing__court">
              Court: EWHC-Chancery-IPEC
            </span>
          </span>
            </li>

            <li class="judgment-listing__judgment">
          <span>
            <span class="judgment-listing__title">
              <a href="/judgment">
                Commissioners for Her Majesty’s Revenue and Customs v Coal Staff Superannuation Scheme Trustees Ltd
              </a>
            </span>
            <span class="judgment-listing__neutralcitation">
              Neutral citation:
              [2022] UKSC 10
            </span>
          </span>
                <span>
            <span class="judgment-listing__date">
              Date: 2022-04-27
            </span>
            <span class="judgment-listing__court">
              Court: UKSC
            </span>
          </span>
            </li>
        </ul>

        <p class="recent-judgments__more-info"><a href="{{ url_for('results', order_by='date_dec') }}">See all recent
            judgments</a></p>
    </div>
</div>
