<div class="anchor-links">
    <h3 class="anchor-links__header">Information on this page:</h3>
            <ul class="anchor-links__list">
                <li class="anchor-links__list-option"><a href="#section-about">What is case law</a></li>
                <li class="anchor-links__list-option"><a href="#section-no-advice">We do not provide legal advice</a></li>
                <li class="anchor-links__list-option"><a href="#section-find">Find a judgment or decision</a></li>
                <li class="anchor-links__list-option"><a href="#section-understanding">Understanding a judgment or decision</a></li>
                <li class="anchor-links__list-option"><a href="#section-contact">How to contact us</a></li>
            </ul>
    </div>