
<div class="anchor-links">
            <ul class="anchor-links__list">
                <li class="anchor-links__option"><a href="#section-about">About the Find Case Law service</a></li>
                <li class="anchor-links__option"><a href="#section-coverage">Limited coverage of judgments and decisions</a></li>
                <li class="anchor-links__option"><a href="#section-data">Judgments and decisions as data</a></li>
                <li class="anchor-links__option"><a href="#section-data-licensing">Data licensing arrangements</a></li>
                <li class="anchor-links__option"><a href="#section-transfer">Transferring judgments and decisions from the courts to The National Archives</a></li>
                <li class="anchor-links__option"><a href="#section-publishing">How we publish judgments and decisions</a></li>
                <li class="anchor-links__option"><a href="#section-contact">How to contact us</a></li>
            </ul>
    </div>