{% extends "layout.html" %}

{% block content %}
    <div class="breadcrumb">
        <div class="breadcrumb__container">
            <ul>
                <li><a href="https://www.nationalarchives.gov.uk">Home</a></li>
                <li><a href="/">{{ service.name }}</a></li>
                <li>Neutral citation search results</li>
            </ul>
        </div>
    </div>
    <div class="results">
        <div class="results__container">
            <h1>We found 2 judgments for {{ form.search_term.data }}</h1>
            <div class="results__list-layout-container">
                <div class="results__result-list-container">
                    {% include 'includes/disambiguation_list.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}