{% extends "layout.html" %}

{% block content %}
    <div class="breadcrumb">
        <nav class="breadcrumb__container" aria-label="Breadcrumb">
            <ol>
                <li><a href="https://www.nationalarchives.gov.uk">Home</a></li>
                <li><a href="/">{{ service.name }}</a></li>
                <li><a href="{{ request.url }}" aria-current="page">Neutral citation search results</a></li>
            </ol>
        </nav>
    </div>
    <div class="results">
        <div class="results__container">
            <h1>We found 2 results for {{ form.search_term.data }}</h1>
            <div class="results__list-layout-container">
                <div class="results__result-list-container">
                    {% include 'includes/disambiguation_list.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}