{% extends "layout.html" %}

{% block content %}
    <div class="breadcrumb">
        <div class="breadcrumb__container">
            <ul>
                <li><a href="https://www.nationalarchives.gov.uk">Home</a></li>
                <li>{{ service.name }}</li>
            </ul>
        </div>
    </div>
    <div class="service-introduction">
        <div class="service-introduction__container">
            <h1>{{ service.name }}</h1>
            <p>
                You can use this service to find and view a court judgment.<br>
                <a class="service-introduction__further-information" href="#">Find out more about this service and what
                    to expect</a>
            </p>
        </div>
    </div>
    {% include 'includes/basic_search_form.html' %}
    {% include 'includes/recent_judgments.html' %}
    {% include 'includes/browse_by_court.html' %}
{% endblock %}