{% extends "layout.html" %}

{% block content %}
    <header class="page-header">
        <div class="page-header__breadcrumb">
            <nav class="page-header__breadcrumb-container" aria-label="Breadcrumb">
                <ol>
                    <li><a href="https://www.nationalarchives.gov.uk">Home</a></li>
                    <li><a href="{{ url_for('home') }}" aria-current="page">{{ service.name }}</a></li>
                </ol>
            </nav>
        </div>
        <div class="page-header__container">
            <a class="page-header__logo-link" href="{{ url_for('home') }}">
                <img class="page-header__logo" src="{{ url_for('static', filename='tna_logo.svg') }}"
                     alt="The National Archives home" width="320"
                     height="44">
            </a>
        </div>
    </header>

    <div class="service-introduction">
        <div class="service-introduction__container">
            <h1>{{ service.name }}</h1>
            <p>
                You can use this service to find and view a court judgment.<br>
                <a class="service-introduction__further-information" href="#">Find out more about this service and what
                    to expect</a>
            </p>
        </div>
    </div>
    {% include 'includes/basic_search_form.html' %}
    {% include 'includes/recent_judgments.html' %}
    {% include 'includes/browse_by_court.html' %}
    {% include 'includes/sources_introduction.html' %}
{% endblock %}