<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="styles/dist/main.css") }}">
    <title>United Trade Action Group Ltd (R on the application of) v Transport for London</title>
</head>
<body>
<a id="skip-to-main-content" href="#main-content">Skip to Main Content</a>
<aside class="judgment-download">
    <div class="judgment-download__container">
        <span class="judgment-download__description">Download as:</span>
        <ul class="judgment-download__list">
            <li><a class="judgment-download__option--pdf" href="{{ url_for('static', filename='judgment.pdf') }}">PDF</a></li>
            <li><a class="judgment-download__option--pdf" href="{{ url_for('static', filename='judgment.xml') }}">XML</a></li>
        </ul>
    </div>
</aside>
<main id="main-content">
    {% block content %}
    {% endblock %}
</main>
</body>
</html>