<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="styles/dist/main.css") }}">
    <title>United Trade Action Group Ltd (R on the application of) v Transport for London</title>
    {% include 'includes/gtm/gtm_head.html' %}
</head>
<body>
<a id="skip-to-main-content" href="#main-content">Skip to Main Content</a>
{% include 'includes/gtm/gtm_body.html' %}
{% include 'includes/phase_banner.html' %}
<header class="page-header">
    <div class="page-header__breadcrumb">
        <nav class="page-header__breadcrumb-container" aria-label="Breadcrumb">
            <ol>
                <li><a href="https://www.nationalarchives.gov.uk">Home</a></li>
                <li><a href="{{ url_for('home') }}">{{ service.name }}</a></li>
                <li><a href="{{ url_for('structured_search') }}">Start a new search</a></li>
            </ol>
        </nav>
    </div>

    {% include 'includes/logo.html' %}

</header>
{% if not request.args.return_link %}

{% endif %}

{% include 'includes/judgment_text_source.html' %}
{% include 'includes/judgment_text_toolbar.html' %}

<main id="main-content">
    {% block content %}
    {% endblock %}
</main>
    {% include 'includes/footer.html' %}
</body>
</html>