<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    <a id="skip-to-main-content" href="#main-content">Skip to Main Content</a>
    {% include 'includes/gtm/gtm_body.html' %}
        {% include 'includes/announcement_banner.html' %}
    {% include 'includes/phase_banner.html' %}



    <main id="main-content">
        {% block content %}
        {% endblock %}
    </main>
     <script src="{{ url_for('static', filename='scripts/dist/application_scripts.js') }}"></script>
    {% include 'includes/how_can_this_service_be_improved.html' %}
    {% include 'includes/footer.html' %}
</body>
</html>