<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="styles/dist/main.css") }}">
    <title>United Trade Action Group Ltd (R on the application of) v Transport for London</title>
    {% include 'includes/gtm/gtm_head.html' %}
</head>
<body class="judgment-layout">
<a id="skip-to-main-content" href="#main-content">Skip to Main Content</a>
{% include 'includes/gtm/gtm_body.html' %}
{% include 'includes/phase_banner.html' %}
<header class="page-header">
    <div class="page-header__breadcrumb">
        <nav class="page-header__breadcrumb-container" aria-label="Breadcrumb">
            <span class="page-header__breadcrumb-you-are-in">You are in: </span>
            <ol>
                <li><a href="/">Find case law</a></li>

                <li><a href="/ewhc/comm/2022/957" aria-current="page">Paul Richards & Anor. v Speechly Bircham LLP & Anor.</a></li>

            </ol>
        </nav>
    </div>

    {% include 'includes/logo.html' %}

    <style>
        .original {
            width
        }
    </style>

</header>
{% if not request.args.return_link %}

{% endif %}

{% include 'includes/judgment_text_toolbar.html' %}

<main id="main-content" style="width: 80%!important; max-width: 80%!important;">
    {% block content %}
    {% endblock %}
</main>
<div class="back-to-top-link" id="js-back-to-top-link">
    <a href="#js-phase-banner">Back to top</a>
</div>
{% include 'includes/footer.html' %}
<script src="{{ url_for('static', filename='scripts/dist/back_to_top.js') }}"></script>
</body>
</html>