{% extends "layout.html" %}

{% block content %}

    <header class="page-header">
        <div class="page-header__breadcrumb">
            <nav class="page-header__breadcrumb-container" aria-label="Breadcrumb">
                <ol>
                    <li><a href="https://www.nationalarchives.gov.uk">Home</a></li>
                    <li><a href="/">{{ service.name }}</a></li>
                    <li><a href="{{ request.url }}" aria-current="page">Sources</a></li>
                </ol>
            </nav>
        </div>

        {% include 'includes/logo.html' %}

    </header>

    <div class="sources">
        <div class="sources__container">
            <h1>Case law sources</h1>
            <p>The sources for case law shown in this service are listed below.</p>
            <ul class="sources__list" >
                {% for source in sources %}
                    <li id="{{ source.id }}">
                        <div class="sources__name">{{ source.name }}</div>
                        <div class="sources__description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aliquid aspernatur deleniti excepturi labore reiciendis sunt. Beatae, delectus, vero?</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad alias atque beatae consequuntur deleniti dicta doloribus eaque earum eius error et facilis labore laboriosam mollitia neque, odit officiis porro provident quae quaerat quas quis rem reprehenderit sapiente vel velit? Ab architecto aspernatur beatae doloribus itaque laudantium magni omnis optio.</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}